.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .card-header {
    background-color: #f7f7f7;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    text-align: left; /* Align text to the left */
  }
  
  .card-body {
    padding: 10px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .col {
    flex: 1;
    text-align: left; /* Align text to the left */
  }
  
  .card-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .edit-button .edit-icon {
    margin-right: 5px;
    font-size: 16px;
  }
  